*{
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
#page1{
    background-color: #2aa3a1;
    padding-bottom:27%;
}
.navbar{
    position:fixed;
    display:flex;
    width: 100%;
    justify-content: right;
    padding-top: 30px;
    color: azure;
}
.navbar ul{
    display: flex ;
    gap: 20px;
    margin-right: 120px;
    color: azure;
    font-size: 16px;
    /* font-weight: bold; */
    font-family: 'Poppins', sans-serif;
    padding: 3px 6px;
}
.navbar ul a{
  color: azure;
}
.navbar ul li:hover{
    text-decoration: underline solid white;
    font-weight:bolder;
}
.main-cont .body{
    text-align: center;
    padding-top: 15%;
}
.main-cont .body h1{
    color:#07374a ;
}
.main-cont .body p{
    color: azure;
    padding-top: 10px;
}
.down-icon {
   border: 3px solid rgb(19, 32, 61);
   position: absolute;
   transform: translate(-50%, -50%);
   bottom: 15%;
   left: 50%;
   border-radius:60%;
   font-size: 24px;
}
.about{
  transition: 0.2s ease-in-out;
    display: flex;
    background-color: #07374a;
    padding-top: 90px;
    /* justify-content: space-around; */
    column-gap: 100px;
    padding-left: 20%;
    padding-bottom: 14%;
}
.left-title p{
    color: #25b79f;
    text-align: center;
    font-size: 30px;
}
.left-cont img{
    height: 30vh;
    margin-left: 22%;
    margin-top: 20px;
}
.left-cont .info p{
    text-align: center;
    margin-top: 20px;
    color: azure;
    margin-top: 40px;
}
.right-title p{
    color: #25b79f;
    text-align: center;
    font-size: 30px;
}
.bars{
    margin-top: 80px;
}
.bars .info{
    position: relative;
    height: 10px;
    width: 450px;
    border-radius: 10px;
    background-color: #47cfde;
    border: 3px solid rgb(129, 114, 114);
    margin-top: 6px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    /* background-color: #47cfde; */
}
.bars p{
    margin-top: 5px;
    color: azure;
}
@keyframes animate {
    100% {
      transform: scaleX(1);
    }
  }
  
  .bars #Html {
    width: 70%;
  }
  .bars #CSS{
    width: 50%;
  }
  .bars #JS{
    width: 60%;
  }
  /* .bars #Cprog{
    width: 50%;
  } */
  .bars #Python{
    width: 60%;
  }
  .contact{
    background-color: #07374a;
    padding-bottom: 40px;

  }
  .contact .body{
    text-align: center;
    padding-top: 200px;
  }
  .contact .body h1{
    font-size: 40px;
    font-weight: 800;
    color:  #25b79f;
  }
  .contact .body p{
    color: azure;
    padding-top: 10px;
    font-size: 15px;
  }
  .contact .body h3{
    color:  #25b79f;
    padding-top: 20px;
  }
  .social ul{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
  }
  .rights p{
    color: azure;
    text-align: center;
    font-size: small;
    margin-top: 170px;
  }